{% extends 'base.html' %}
{% load static %}
   {% block content %}

<link rel="stylesheet" href=" {% static 'MatPlan/over.css' %}">

<br>
    <h3>Frokost (ca. 350 kcal):</h3>
       <br>
<ul>
<li>1 porsjon&nbsp;<a href="https://www.melk.no/oppskrifter/frokost-kvelds/melkeretter-groter/havregrot-med-friske-baer/">havregr&oslash;t med friske b&aelig;r</a></li>
<li>En liten neve mandler, n&oslash;tter eller fr&oslash;</li>
<li>1,5 dl skummet/ekstra lett melk eller 1 dl juice</li>
<li>Kaffe/te</li>
</ul>
<br>
<p><a id="eztoc_2_1_1" name="eztoc_2_1_1"></a></p>
<h3>Lunsj (ca. 400 kcal):</h3>
<br>
<ul>
<li>En stor bolle med blandet salat: tomat, agurk, paprika, salat, purre, revet gulrot og eventuelt flere gr&oslash;nnsaker</li>
<li>100 g tunfisk, skinke eller rent kyllingkj&oslash;tt</li>
<li>50 g kikerter, b&oslash;nner eller cottage cheese</li>
<li>1 egg</li>
<li>1 ss valgfri mager dressing</li>
<li>En halv skive grovt br&oslash;d eller et halvt grovt, lite rundstykke</li>
<li>Vann</li>
<li>Kaffe/te</li>
</ul>
<br>
<p><a id="eztoc_3_1_1" name="eztoc_3_1_1"></a></p>
<h3>Middag (ca. 650 kcal):</h3>
<br>
<ul>
<li>150 g fet fisk (valgfri tilberedning)</li>
<li>Fri mengde r&aring;, lettkokte eller wokede gr&oslash;nnsaker</li>
<li>2 store poteter eller 50 g fullkornspasta (t&oslash;rrvekt)</li>
<li>1 ts smeltet sm&oslash;r</li>
<li>2 ss lettr&oslash;mme</li>
<li>Vann</li>
</ul>
<br>
<p><a id="eztoc_4_1_1" name="eztoc_4_1_1"></a></p>
<h3>Kveldsmat (ca. 300 kcal):</h3>
<br>
<ul>
<li>En sk&aring;l&nbsp;<a href="https://www.melk.no/oppskrifter/smaretter-lunsj/supper/tomatsuppe5/">tomatsuppe</a>&nbsp;eller annen gr&oslash;nnsakssuppe</li>
<li>2 ss mager kesam</li>
<li>1 egg</li>
<li>Vann</li>
<li>Kaffe/te</li>
</ul>
<br>
<p><a id="eztoc_5_1_1" name="eztoc_5_1_1"></a></p>
<h3>Mellomm&aring;ltider:</h3>
<p>Hvert alternativ gir ca. 150 kcal, velg to av alternativene under.</p>
<br>
<ul>
<li>En neve n&oslash;tter og t&oslash;rket frukt (25 g)</li>
<li>2 grove knekkebr&oslash;d med magert p&aring;legg*</li>
<li>1,5 dl yoghurt naturell med 2 ss us&oslash;tet kornblanding eller havregryn</li>
<li>1 banan og et glass skummet eller ekstra lett melk</li>
<li>1 dl cottage cheese med en liten h&aring;ndfull b&aelig;r og n&oslash;tter eller mandler (10 stk)</li>
<li>Fruktsalat med kvarg (100 g frukt og 1 dl skyr, eller mager kesam naturell/vanilje)</li>
<li>1 kopp kakao (2 dl, laget p&aring; ekstra lett melk) eller lettere sjokolademelk</li>
<li>Gr&oslash;nnsaker og dipp laget med mager kesam eller yoghurt naturell (1,5 dl)</li>
</ul>
<br>
<p><a id="eztoc_6_1_1" name="eztoc_6_1_1"></a></p>
<h3>*Forslag til p&aring;legg:</h3>
<p>Velg &eacute;n type p&aring;legg. Det er lurt &aring; variere og husk at mengden p&aring;legg er vel s&aring; viktig som typen.</p>
<br>
<ul>
<li>Fisk og skalldyr: makrell i tomat, r&oslash;kt makrell, sild, alle typer laksep&aring;legg, tunfisk, sardiner, reker, krabbe, crabsticks, eller lignende. Bruk et tynt lag lettmajones, dersom du &oslash;nsker majones p&aring; skalldyrp&aring;legget</li>
<li>Ost: velg gjerne magre oster, som lettere hvitoster og sm&oslash;reoster, kvarg/kesam og cottage cheese</li>
<li>Kj&oslash;tt og fj&aelig;rkre: velg varianter med maks 10 % fett, som kokt skinke, hamburgerrygg, mager leverpostei, salt bankekj&oslash;tt, roastbiff, alle typer ren skinke, kylling og kalkunp&aring;legg og skinkestek</li>
<li>Egg</li>
<li>Syltet&oslash;y: velg de med minst mulig tilsatt sukker</li>
</ul>

    {% endblock %}
