{% extends 'base.html' %}
{% load static %}
 <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block content %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topic</th>
        <th>Last Post</th>
    </tr>
    </thead>
    <tbody>
    {% for board in boards%}
    <tr>
        <td><a href="{% url 'board_topics' board.pk  %}">{{ board.name }} </a>
        <small class="text-muted d-block">{{board.description}}</small>
        </td>
        <td>{{post}}</td>  <!-- viktig å komme tilbake til den-->
        <td>{{board.topics.count}}</td>
    <td>
        {% for topic in board.topics.all %}

            {{ topic.created_dt.last}}

        {%endfor%}

    </td>
    </tr>
    {%endfor%}

    </tbody>
</table>

{%endblock%}
