{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="bgimg">
      <div class="middle">
        <h1><b> FIT X</b></h1>
        <hr>
      </div>
      <div class="bottomleft">
        <h2>Trenings-side for IDIOTER</h2>
      </div>
    </div>
    <main>
        <header class="innledning">
         <div class="innledningTittel" >
             <h1>VELKOMMEN TIL <span>FIT</span>X </h1>
         </div>
         <div class="innledningTekst">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro corporis provident quasi deserunt sit nemo! Numquam omnis sapiente, quas in rerum deserunt?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro corporis provident quasi deserunt sit nemo! Numquam omnis sapiente, quas in rerum deserunt?
                corporis provident quasi deserunt sit nemo! Numquam omnis sapiente, quas in rerum deserunt?
             </p>
         </div>
        </header>
         <div class = "omoss">
             <p id="Mian">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro corporis provident quasi deserunt sit nemo! Numquam omnis sapiente, quas in rerum deserunt?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro corporis provident quasi deserunt sit nemo! Numquam omnis sapiente, quas in rerum deserunt?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, minus nam. Nihil eius mollitia assumenda ducimus porro corporis provident quasi deserunt sit nemo! Numquam omnis sapiente, quas in rerum deserunt?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
             </p>
         </div>
     </main>
    {% endblock %}
