<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body style="background-color:#f0f0f0;">
    <div class="container" style="padding-top: 8em;">
      <form method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default" style="box-shadow: 5px 10px 18px #888888;" >
            <div class="panel-heading" style="background-color: lightcoral;font-size: large; font-weight: bold">Registrer</div>
            <div class="panel-body">
              {% if error_message %}
              <p class="bg-danger p-d ml-b">{{ error_message }}</p>
              {% endif %}
              <div class="form-group clearfix">
                <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Brukernavn<span class="text-red">*</span>:</label>
                <div class="col-md-6">
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
                <div class="col-md-6">
                  {{ form.email }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Passord<span class="text-red">*</span>:</label>
                <div class="col-md-6">
                  {{ form.password }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Bekreft passord:</label>
                <div class="col-md-6">
                  {{ form.password_repeat }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">Fornavn:</label>
                <div class="col-md-6">
                  {{ form.first_name }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right">Etternavn:</label>
                <div class="col-md-6">
                  {{ form.last_name }}
                </div>
              </div>
              <div class="col-md-6 col-md-offset-4">
                <input type="submit" value="Register" class="btn btn-success">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
      <p style="text-align: center; margin-top:2em; font-size: x-large; font-weight: bold; ">
    <a class="nav-link" href="{% url 'khara'  %}">Back to home page</a>
    </p>
  </body>
</html>